@using Microsoft.AspNetCore.Identity;
@inject SignInManager<VoidUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="btn btn-primary btn-sm ">
            <img class="align-content-start" width="25" height="25" src="../Assets/Images/person.png" />
            <a class="text-white text-end fw-bolder" asp-area="" asp-controller="Account" asp-action="Profile">Account</a>
        </div>
    </div>
}
