<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheVoid</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheVoid.styles.css" asp-append-version="true" />
</head>
<body>
    <div id="main-body-void">
        <audio id="background-audio" src="~/Assets/Sounds/backgroundNoise.mp3" loop="loop" preload="auto"></audio>
        <h1 id="main-title" class="text-white"><b class="text-center">The Void</b></h1>
        <div class="container">
            <main role="main">
                @RenderBody()
                <partial name="_AccountPartial" />
            </main>
        </div>
        <h1 id="main-description" class="text-white fs-2 fw-bold ">Throw your problems in the void</h1>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var sound = document.getElementById("background-audio");
        sound.play();
    });
</script>