@using TheVoid.ViewModels;
@model RegisterVM 

@{
    ViewData["Title"] = "Register";
}

<div class="expand d-flex justify-content-center align-items-center">
    <div class="card p-3 w-50 bg-dark border-white">
        <h2 class="text-center text-info text-white"> Register</h2>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-white"></div>
            <div class="mb-1">
                <label asp-for="Email" class="control-label text-white"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Password" class="control-label text-white"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="ConfirmPassword" class="control-label text-white"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row p-1">
                <div class="col-8">
                    <a asp-action="Login" class="text-decoration-none float-start mt-2"> Already have an account?'</a>
                </div>
                <div class="col-4">
                    <input type="submit" value="Register" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <script>
        document.addEventListener('DOMContentLoaded', function ()
        {
            var form = document.querySelector('form');
            form.addEventListener('submit', function (event) 
            {
                event.preventDefault(); // Prevent form submission to see the animation

                var card = document.querySelector('.card');
                card.classList.add('shrink');

                // Optionally, you can submit the form after the animation completes
                form.submit();
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}