@{
    ViewData["Title"] = "Welcome To Void";
}

<div class="d-flex expandFast justify-content-center align-items-center">
    <div class="card p-3 w-50 bg-dark border-white">
        <h5 class="text-center text-info text-white">Welcome to <b>The void</b>, a global messaging platform, write a message and a random person will read it..</h5>
        <div class="row">
            <div>
                <a asp-action="Login" asp-controller="Account" class="me-2 btn btn-secondary btn-sm float-end">Continue</a>
            </div>
        </div>
    </div>
</div>