@{
    ViewData["Title"] = "Void Interactions";
}

<div class="d-flex justify-content-center align-items-center">
    <div class="card p-3 w-50 bg-dark border-white">
        <div class="d-flex">
            <form class="btn-secondary w-50 rounded-3 m-1 btn-outline-black text-center" asp-area="" asp-controller="Void" asp-action="WriteToVoid">
                <button type="submit" class="text-decoration-none btn btn-link p-0 w-100 h-100 text-dark text-center fw-bolder fs-1">
                    <img class="card-img-top" src="../Assets/email.png" />
                    <h1 class="align-text-bottom">Whisper Into The Void</h1>
                </button>
            </form>
            <form class="btn-secondary w-50 rounded-3 m-1 btn-outline-black text-center" asp-area="" asp-controller="Void" asp-action="ReadFromVoid">
                <button type="submit" class="text-decoration-none btn btn-link p-0 w-100 h-100 text-dark text-center fw-bolder fs-1">
                    <img class="card-img-top" src="../Assets/box.png" />
                    <h1 class="lign-text-bottom">Listen To The Void</h1>
                </button>
            </form>
        </div>
    </div>
</div>  