@using TheVoid.ViewModels;
@model VoidInteractionsVM

@{
    ViewData["Title"] = "Void Interactions";
}

<div class="expand d-flex justify-content-center align-items-center">
    <div class="card p-3 w-50 bg-dark border-white">
        <div class="d-flex">
            @if(Model.CanWrite)
            {
                <form class="btn-secondary w-50 rounded-3 m-1 btn-outline-black text-center" asp-area="" asp-controller="Void" method="get" asp-action="WriteToVoid">
                    <button type="submit" class="text-decoration-none btn btn-link p-0 w-100 h-100 text-dark text-center fw-bolder fs-1">
                        <img class="card-img-top" src="../Assets/box.png" />
                        <h1 class="align-text-bottom">Whisper Into The Void</h1>
                    </button>
                </form>
            }
            else
            {
                <div class="w-50 rounded-3 m-1 btn-outline-black text-center">
                    <img class="card-img-top" src="../Assets/box.png" />
                    <h6 class="align-text-bottom text-info text-white"><i><b>The Void</b> is not listetning for:</i></h6>
                    <h6 class="align-text-bottom text-info text-white"><i> @Model.WriteDelay.ToString(@"hh\:mm\:ss")</i></h6>
                </div>
            }
            @if (Model.CanRead)
            {
                <form class="btn-secondary w-50 rounded-3 m-1 btn-outline-black text-center" asp-area="" asp-controller="Void" method="get" asp-action="ReadFromVoid">
                    <button type="submit" class="text-decoration-none btn btn-link p-0 w-100 h-100 text-dark text-center fw-bolder fs-1">
                        <img class="card-img-top" src="../Assets/email.png" />
                        <h1 class="lign-text-bottom">Listen To The Void</h1>
                    </button>
                </form>
            }
            else
            {
                <div class="w-50 rounded-3 m-1 btn-outline-black text-center">
                    <img class="card-img-top" src="../Assets/email.png" />
                    <h6 class="align-text-bottom text-info text-white"><i><b>The Void</b> is not wishpering for:</i></h6>
                    <h6 class="align-text-bottom text-info text-white"><i> @Model.ReadDelay.ToString(@"hh\:mm\:ss")</i></h6>
                </div>
            }
        </div>
    </div>
</div>  
<div class="expand d-flex justify-content-center">
    <div class="card p-1 w-25 bg-dark border-white">
        <div class="d-flex">
            <h7 class="w-100 text-start text-white"><b>Total Write: @Model.TotalMessagesWrite</b></h7>
            <h7 class="w-100 text-end text-white"><b>Total Read: @Model.TotalMessagesRead</b></h7>
        </div>
    </div>
</div>
