@using TheVoid.ViewModels;
@model VoidMessageVM

@{
    ViewData["Title"] = "Write To Void";
}


<audio id="interact-audio" src="~/Assets/Sounds/voidInteraction.mp3" preload="auto"></audio>
<div class="expandFast d-flex justify-content-center align-items-center">
    <div class="card p-3 w-50 bg-dark border-white">
        <h5 class="text-center text-info text-warning"> Messages Are Anonymous</h5>
        <form asp-action="WriteToVoid" asp-controller="Void" method="post">
            <div asp-validation-summary="ModelOnly" class="text-white"></div>
            <div class="mb-1">
                <label class="text-center text-white">Throw your problem in <b>The Void</b>, and someone might read it.</label>
                <textarea asp-for="VoidMessage" style="height:150px " class="form-control"></textarea>
                <span asp-validation-for="VoidMessage" class="text-danger"></span>
            </div>
            <div class="row">
                <div>
                    <input type="submit" value="WriteToVoid" class="btn btn-primary btn-sm float-end" />
                    <a asp-action="VoidInteractions" asp-controller="Void" class="me-2 btn btn-secondary btn-sm float-end">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function ()
        {           
            var form = document.querySelector('form');
            form.addEventListener('submit', function (event) 
            {
                var sound = document.getElementById("interact-audio");
                sound.play();

                event.preventDefault(); // Prevent form submission to see the animation

                var main = document.querySelector('.expandFast');
                var card = document.querySelector('.card');
                card.classList.add('shrinkSlow');
                main.classList.remove('expandFast');
                main.classList.add('rotateLeftSlow');

                setTimeout(function () 
                {
                    form.submit();
                }, 1500); 
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}