@using TheVoid.ViewModels.Items
@model ItemOptionVM

<form asp-action="TriggerItemOption" asp-controller="Items" method="post">
    <input type="hidden" name="option" value="@Model.Option" />
    <input type="hidden" name="item" value="@Model.Type" />
    <button class="m-1 btn btn-secondary" type="submit">@Model.Option.ToString()</button>
</form>