@using TheVoid.ViewModels;
@model InventoryVM

@{
    ViewData["Title"] = "Inventory";
}
<div class="d-flex expandFast justify-content-center align-items-center">
    <div class="card p-3 w-50 bg-dark border-white">
        <h1 class="text-white">@Model.Items.Count</h1>
    </div>
</div>