html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

#main-body-void {
    background-color: black;
    background-image: url(../Assets/MainVoid.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: auto; 
}

.min-width-100vw-64px {
    min-width: calc(100vw - 64px);
}

.width-30{
    width:30%;
}

#main-title {
    position: absolute; 
    top: 10px; 
    margin: -15px;
    font-size: 50px;
    font-family: 'Hotel De Paris Xe';
}

#main-description {
    position: absolute; 
    bottom: 0px;
    font-size: 10px;
    font-family: 'Cascadia Code';
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}