html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.min-width-200 {
    min-width: 200px;
}

.max-height-500 {
    max-height: 500px;
}

.min-height-222 {
    min-height: 222px;
}

.item-slot{
    width: 15%;
    height: 15%;
    border-radius: 10px;
}

#main-body-void {
    background-color: black;
    background-image: url(../Assets/Images/MainVoid.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: auto;
}

@keyframes shrink {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes pulse{
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.HoverEnter {
    animation: pulse 0.4s forwards;
}

.HoverExit {
    animation: pulse 0.4s reverse;
}

.rotateLeftSlow {
    animation: rotate 1.5s forwards;
}

.rotateRightSlow {
    animation: rotate 1.5s reverse;
}

.shrinkSlow {
    animation: shrink 1.5s forwards;
}

.expandSlow {
    animation: shrink 1.5s reverse;
}


.rotateLeftFast {
    animation: rotate 0.4s forwards;
}

.rotateRightFast {
    animation: rotate 0.4s reverse;
}

.shrinkFast{
    animation: shrink 0.4s forwards;
}

.expandFast {
    animation: shrink 0.4s reverse;
}

#main-title {
    position: absolute; 
    top: 10px; 
    margin: -15px;
    font-size: 50px;
    font-family: 'Hotel De Paris Xe';
}

#main-description {
    position: absolute; 
    bottom: 0px;
    font-size: 10px;
    font-family: 'Cascadia Code';
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}